@media (max-width: 1250px) {
	.search {
		font-size: 16px;
	}
	.navigation {
		font-size: 16px;
	}
	.navigation p,
	.search p {
		font-size: 18px;
		font-weight: 600;
	}
	footer {
		font-size: 9px;
	}
	footer input {
		font-size: 9px;
	}
	.socialMed img {
		width: 25%;
	}
}

@media (max-width: 900px) {
	.navigation {
		display: none;
	}
	.leftMenu {
		position: fixed;
		top: 78px;
		left: 0;
		right: 0;
		bottom: 0;
		width: min-content;
		margin-top: 2px;
		height: calc(100vh - 80px);
		transform: translateX(-100vw);
		z-index: 999;
		margin-left: 0;
	}
	.search {
		display: none;
	}
	footer {
		display: none;
	}
	.hburgerMenu {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: fit-content;
		position: sticky;
		background: white;
		transform: translateX(-100vw);
		overflow-y: scroll;
	}
	.hburgerMenuIcon {
		margin-top: 7px;
		width: 40px;
		height: 25px;
		display: flex;
		z-index: 1;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
	}
	.navigationSmall {
		font-size: 16px;
		color: #4047cf;
		padding: 5px;
		margin-top: 5px;
		padding: 15px;
		background-color: #f8f8f8;
	}
	.navigationSmall ul {
		list-style: none;
		padding-left: 10px;
	}
	#chosenSmall {
		color: white;
		background-color: #4047cf;
		border-radius: 5px;
		padding-left: 5px;
	}
	.navigationSmall li {
		padding-right: 10px;
		margin: 5px 0px;
		padding-left: 5px;
	}
	.navigationSmall a {
		text-decoration: none;
		color: #4047cf;
	}
	.navigationSmall li {
		list-style: none;
	}
	.navigationSmall p,
	.searchSmall p {
		font-size: 18px;
		font-weight: 600;
	}
	.searchBarSmall {
		background-color: #4047cf;
		color: white;
		border: none;
		padding: 4px;
		font-family: 'Prompt', sans-serif;
		border-radius: 8px;
		background-image: url(/project_6m/scripteld/images/icon\ _search_outline_search.png);
		background-repeat: no-repeat;
		background-position: calc(100% - 20px);
		outline: none;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		padding: 5px 20px;
		padding-right: 45px;
		height: 2.5em;
		font-size: 13px;
		margin-bottom: 20px;
		width: 100%;
	}
	.searchBarSmall::placeholder {
		color: white;
	}
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration {
		display: none;
	}
	.searchSmall {
		font-size: 16px;
		color: #4047cf;
		padding: 15px;
		margin-top: 5px;
		background-color: #f8f8f8;
	}
	.main {
		display: flex;
		justify-content: center;
		margin: 0;
	}
	.rightMenu {
		width: 100%;
		margin-right: 0;
		margin-top: 5%;
	}
	.articleZone {
		width: 100%;
	}
	.user {
		margin-right: 3%;
		margin-left: 2%;
		font-size: 20px;
	}
	.languageWork {
		margin-right: 3%;
	}
	header input {
		display: none;
	}
	.profileSmall input {
		font-size: 14px;
		width: fit-content;
		border: none;
		border-radius: 8px;
		padding: 5px 20px;
		font-family: 'Prompt', sans-serif;
		width: fit-content;
		color: white;
		background-color: #4047cf;
		cursor: pointer;
	}
	.profileSmall p {
		font-size: 18px;
		font-weight: 600;
	}
	.profileSmall{
		font-size: 16px;
		color: #4047cf;
		padding: 15px;
		margin-top: 5px;
		background-color: #f8f8f8;
	}
	.articleHead input {
		display: none;
	}
	.articleName {
		font-size: 14px;
	}
	.articleText p {
		font-size: 12px;
	}
	.footerSmall {
		font-size: 12px;
		width: calc(100% - 40px);
		padding-left: 20px;
		color: #4047cf;
		background-color: #f8f8f8;
		margin-top: 5px;
		width: 87%;
	}
	.socialMedSmall {
		width: fit-content;
		border-radius: 5px;
		background-color: #4047cf;
		padding: 3%;
		padding-bottom: 0;
	}
	.footerSmall input {
		font-size: 12px;
		font-family: 'Prompt', sans-serif;
		width: fit-content;
		color: #4047cf;
		border: none;
		padding: 0;
		background-color: unset;
		cursor: pointer;
	}
	.profileIn{
		display: none;
	}
	header{
		justify-content: space-around;
	}
	.profileInSmall{
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	.profileInSmall .notification{
		width: 12%;
		margin: 0;
	}
	.profileInfoSmall{
		margin-top: 10%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.profileInfoSmall h3{
		margin: 0;
		font-size: 16px;
		white-space: nowrap; 
		overflow: hidden; 
		text-overflow: ellipsis;
		max-width: 70%; 
	}
	.profileInSmall a{
		text-decoration: none;
		color: #4047cf;
	}
	.profileInSmall img{
		margin: 0;
		margin-top: 14%;
	}
}
